{{> head title="MängudeÖÖ Sügis 2018"}}

<div class="c-index-video">
  <video autoplay="autoplay" loop="loop" muted playsinline poster="">
    <source src="video/pult.mp4" type="video/mp4">
  </video>
</div>

<div class="c-home">
  <div class="c-home__paev">
    <div class="c-home-block">
      <p class="c-home-block__date">13:00 — 18:00</p>
      <img src="img/logo-mangudeoo-paev.svg" alt="">

      <div class="c-home-block__cta">
        <p>Fortnite Battle Royale // NBA 2K19 // Nidhogg II // Arms // Speedrun</p>
        <p>Vanusepiiranguta</p>
      </div>
      <div class="c-home-block__buttons moo-paev">
        <a class="c-button" href="mangudeoo-paev.html" target="_blank">Loe Lähemalt</a>
      </div>
    </div>
  </div>
  <div class="c-home__oo">
    <div class="c-home-block">
      <p class="c-home-block__date">Uksed avatakse 21:00</p>
      <img src="img/logo-mangudeoo.svg" alt="">
      <div class="c-home-block__cta">
        <p>Fortnite Battle Royale // FIFA 19 // SoulCalibur VI // Hearthstone</p>
        <p>Vanusepiirang 16+</p>
      </div>
      <div class="c-home-block__buttons">
        <a class="c-button" href="mangudeoo.html" target="_blank">Loe Lähemalt</a>
      </div>
    </div>
  </div>
</div>

{{> footer }}
