{{> head }}

<section class="c-hero">
  <div class="c-hero__bg"></div>
  <div class="o-wrap">
    <h1 class="c-hero__title">MängudeÖÖ</h1>
    <div class="c-hero__video">
      <iframe width="100%" height="515px" src="https://www.youtube.com/embed/zOpA1AOX_Y0" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<nav class="c-nav">
  <ul>
    <li><a href="#">Ajakava</a></li>
    <li><a href="#">Turniirid</a></li>
    <li><a href="#">Funarea</a></li>
  </ul>
</nav>

<section class="c-wat">
  <div class="o-wrap">
    <div class="c-wat__cta">
      <p>10. NOVEMBER 2019 // APOLLO KINO SOLARIS</p>
      <p>Uksed avatakse 21:00 // Vanusepiirang 16+</p>
    </div>

    <div class="c-wat__body">
      <p>
        <strong>MängudeÖÖ</strong> on Eesti suurim videomängudele ja virtuaalsusele pühendatud üritustesari, mis toob
        külastajateni
        uusimad konsooli-, arvuti- ja mobiilimängud ning adrenaliinirohked võistlused suurtel kinoekraanidel.
        MängudeÖÖl pööratakse erilist tähelepanu ka neile, kes ei ole veel leidnud oma kohta mängumaailmas, pakkudes
        sõbralikku, avatud ja meelelahutuslikku võimalust tutvuda mängukultuuriga.
      </p>
    </div>

    <div class="c-wat__buttons">
      <a class="c-button" href="#" target="_blank">Osta Pilet</a>
      <a class="c-button" href="#" target="_blank">Facebook</a>
    </div>

  </div>
</section>

<div class="o-wrap o-wrap--wide">
  <div class="c-poster">
    <img src="http://placehold.it/1920x1200" alt="">
  </div>
</div>

<div class="o-wrap">

  <section>
    <h2 class="c-header"><span>Turniirid</span></h2>

    <div class="c-media-block-list">

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Fortnite</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, magni.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex soluta aliquid neque est vitae ipsa ut
              molestias eveniet dolorum corrupti sit, beatae sequi aut dolores! Quae, debitis? Pariatur, quibusdam
              quae.
              Cumque explicabo mollitia soluta, minus dolores deleniti ab enim! Voluptate.</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Fortnite</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, magni.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex soluta aliquid neque est vitae ipsa ut
              molestias eveniet dolorum corrupti sit, beatae sequi aut dolores! Quae, debitis? Pariatur, quibusdam
              quae.
              Cumque explicabo mollitia soluta, minus dolores deleniti ab enim! Voluptate.</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>
      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Fortnite</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, magni.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex soluta aliquid neque est vitae ipsa ut
              molestias eveniet dolorum corrupti sit, beatae sequi aut dolores! Quae, debitis? Pariatur, quibusdam
              quae.
              Cumque explicabo mollitia soluta, minus dolores deleniti ab enim! Voluptate.</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Fortnite</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, magni.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex soluta aliquid neque est vitae ipsa ut
              molestias eveniet dolorum corrupti sit, beatae sequi aut dolores! Quae, debitis? Pariatur, quibusdam
              quae.
              Cumque explicabo mollitia soluta, minus dolores deleniti ab enim! Voluptate.</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

    </div>

  </section>

  {{!-- <section class="section"> --}}
    {{!-- <h1 class="header header--tournament">Turniirid</h1> --}}

    {{!-- <div class="section--tournament">
      <img src="img.jpg" alt="" class="image image--tournament-1">
      <div class="introduction introduction--tournament-1">
        <h2 class="introduction--title">Game1</h2>
        <p class="introduction--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="introduction--rules">Loe reegleid ja registreeri</a>
      </div>

      <img src="img.jpg" alt="" class="image image--tournament-2">
      <div class="introduction introduction--tournament-2">
        <h2 class="introduction--title">Game2</h2>
        <p class="introduction--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="introduction--rules">Loe reegleid ja registreeri</a>
      </div>

      <img src="img.jpg" alt="" class="image image--tournament-3">
      <div class="introduction introduction--tournament-3">
        <h2 class="introduction--title">Game3</h2>
        <p class="introduction--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="introduction--rules">Loe reegleid ja registreeri</a>
      </div>
    </div>
  </section>

  <section class="section section--funarea">
    <h1 class="header header--funarea">Funzz</h1>
    <div>
      <img src="img.jpg" alt="" class="image image--funarea">
      <h2 class="title title--funarea">Funarea1</h2>
      <p class="introduction introduction--funarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
      <img src="img.jpg" alt="" class="image image--funarea">
      <h2 class="title title--funarea">Funarea2</h2>
      <p class="introduction introduction--funarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div>
      <img src="img.jpg" alt="" class="image image--funarea">
      <h2 class="title title--funarea">Funarea3</h2>
      <p class="introduction introduction--funarea">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa
        qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section class="section section--timetable">
    <h1 class="timetable-title">Turniirid</h1>
    <h1 class="timetable-title">Loengusaal</h1>
    <h1 class="timetable-title">Esinemised ja demod</h1>
    <a href="#">Laadi alla ruumiplaan</a>
  </section> --}}

  {{> footer }}
