{{> head title="MängudeÖÖ: Päev" bodyClass='moo-paev'}}

<section class="c-hero">
  <div class="c-hero__bg"></div>
  <div class="o-wrap">
    <h1 class="c-hero__title">MängudeÖÖ</h1>
    <div class="c-hero__video">
      <iframe width="100%" height="600px" src="https://www.youtube.com/embed/rf4uiO-T26o" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<nav class="c-nav">
  <ul>
    <li><a href="#ajakava" class="js-scroll-to">Ajakava</a></li>
    <li><a href="#turniirid" class="js-scroll-to">Turniirid</a></li>
    <li><a href="#manghang" class="js-scroll-to">Mäng & Häng</a></li>
  </ul>
</nav>

<section class="c-wat">
  <div class="o-wrap">
    <div class="c-wat__cta">
      <p>10. NOVEMBER 2019 // APOLLO KINO SOLARIS</p>
      <p>Uksed avatakse 21:00 // Vanusepiirang 16+</p>
    </div>

    <div class="c-wat__body">
      <p>
        <strong>MängudeÖÖ</strong> on Eesti suurim videomängudele ja virtuaalsusele pühendatud üritustesari, mis toob
        külastajateni
        uusimad konsooli-, arvuti- ja mobiilimängud ning adrenaliinirohked võistlused suurtel kinoekraanidel.
        MängudeÖÖl pööratakse erilist tähelepanu ka neile, kes ei ole veel leidnud oma kohta mängumaailmas, pakkudes
        sõbralikku, avatud ja meelelahutuslikku võimalust tutvuda mängukultuuriga.
      </p>
    </div>

    <div class="c-wat__buttons">
      <a class="c-button" href="https://www.apollokino.ee/event/3605/" target="_blank">Osta Pilet</a>
      <a class="c-button" href="https://www.facebook.com/events/2210319632586261/" target="_blank">Facebook</a>
    </div>

  </div>
</section>

<div class="o-wrap">
  <div class="c-section-body">
    <p>
      Mis on defineerinud MängudeÖÖd juba üsna pikalt? Jah, see toimub öösel ning sel on vanusepiirang. Aga mis oleks
      kui... see toimuks ka PÄEVal ja oleks avatud KÕIGILE, sõltumata nende vanusest?</p>
    <p>Esmakordselt MängudeÖÖ ajaloos avame kinosaalide uksed juba päise päeva ajal ning kutsume mängima kõik need,
      kes seni ukse taha on pidanud jääma! Oled noorem kui 16?
      Tule kohale? Oled harjunud vara magama minema? MängudePÄEV on just sulle! Jõudsid varajase bussiga pealinna
      ning sul pole ÖÖ tulekuni midagi teha? See probleem lahenes just iseenesest!</p>
    <p>Pakkumaks unustamatut mängumöllu, korraldame päeval turniire mängudes Fortnite Battle Royale (duo), NBA 2K19,
      Nidhogg II ja paljud teised. Lisaks on ohtralt kõrvaltegevusi, mida ühes sõprade ja/või kaasa tulnud vanematega
      nautida.
    </p>
  </div>
</div>

<div class="o-wrap o-wrap--wide">
  <figure class="c-poster">
    <img src="img/pilt9.jpg" alt="">
    <figcaption>Indrek Pajuste</figcaption>
  </figure>
</div>

<div class="o-wrap" id="ajakava">
  <h2 class="c-header"><span>Ajakava</span></h2>
  <section class="c-schedule">
    <h3>Turniirid</h3>
    <table>
      <thead>
        <tr>
          <th>
            Aeg
          </th>
          <th>Pealkiri</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13:15</td>
          <td>Avamine</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td>Fortnite DUO turniiri algus</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td>Marvel vs Capcom Infinite turniiri algus</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td>Nidhogg turniiri algus</td>
        </tr>
        <tr>
          <td>13:30</td>
          <td>Arms turniiri algus</td>
        </tr>
      </tbody>
    </table>

    <h3>Loengusaal</h3>
    <table>
      <thead>
        <tr>
          <th>
            Aeg
          </th>
          <th>Pealkiri</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13:30 - 15:00</td>
          <td>Arvutitark: Kuidas ehitada mänguriarvuti?</td>
        </tr>
        <tr>
          <td>15:15 - 16:15</td>
          <td>Zone.ee: Kuidas kasvada häkkeriks?</td>
        </tr>
        <tr>
          <td>16:30 - 18:00</td>
          <td>Kuidas saada Eestis mängutegijaks?</td>
        </tr>
      </tbody>
    </table>

    <h3>Speedrun</h3>
    <table>
      <thead>
        <tr>
          <th>
            Aeg
          </th>
          <th>Pealkiri</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13:30</td>
          <td>Sissejuhatus</td>
        </tr>
        <tr>
          <td>13:45</td>
          <td>The Saboteur, Beyond Oasis</td>
        </tr>
        <tr>
          <td>14:50</td>
          <td>Half-Life</td>
        </tr>
        <tr>
          <td>15:45</td>
          <td>The Messenger</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td>Shadow of Colossus</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

<div class="o-wrap" id='turniirid'>
  <section>
    <h2 class="c-header"><span>Turniirid</span></h2>

    <div class="c-media-block-list">

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="img/fortnite.jpg" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Fortnite Battle Royale Duo</h3>
            <p>„Mõtle, kui lahe oleks, kui keegi korraldaks ühe tuusa Fortnite Battle Royale turniiri“, mõtles kohalik
              mängukommuun. „Kuule, see pole üldse halb idee!“ Mõtles MängudeÖÖ korraldustiim. Nii otsustasimegi, et
              sügisel korraldame võistluse justnimelt selles mängus.</p>
            <p>Kaks pead on ikka kaks pead, seega haara sõber kaasa, sest PÄEVal teeme selgeks, kes on kõige pädevam
              duo ning kelle taskusse see Victory Royale kukub.</p>
            {{!-- <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a> --}}
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="img/nba.jpg" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>NBA 2K19 turniir</h3>
            <p>11 meest virtuaalsel väljakul, 1 mees puldi taga!</p>
            <p>Muljet avaldav nagu Golden State Warriorsi ülemvõim! Meeltlahutav nagu LaVar Balli vembutamised!
              Värskendav nagu näha LeBron Jamesi Lakersi särgis!
            </p>
            <p>Just niimoodi saab kirjeldada MängudeÖÖ:PÄEV 1v1 turniiri kossumängus NBA 2K19! Tule, pane virtuaalseid
              palle korvi rohkem kui su vastane ning au, kuulsus ja parima pallivõluri tiitel võivad olla just sinu!</p>
            {{!-- <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a> --}}
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="img/marvel_vs_capcom.jpg" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Marvel vs Capcom Infinite</h3>
            <p>Enam ei pea ootama, millal järgmine marveli film kinolinale jõuab - seda saab lausa ise kogeda! Pane oma
              Marveli lemmikkangelased kaklema Capcomi tuntuimate nägudega ning välju lahingust võitjana!</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="o-wrap o-wrap--wide">
  <figure class="c-poster">
    <img src="img/fun.jpg" alt="">
    {{!-- <figcaption>MängudeÖÖ 2017 Sügis — Gert Nõgu</figcaption> --}}
  </figure>
</div>

{{> manghang }}

<div class="o-wrap">
  <section class="c-partners">
    <h2 class="c-header"><span>Partnerid</span></h2>
    <img src="img/partners.png" alt="">
  </section>
</div>

{{> footer }}
