{{> head }}

<section class="c-hero">
  <div class="c-hero__bg"></div>
  <div class="o-wrap">
    <h1 class="c-hero__title">MängudeÖÖ</h1>
    <div class="c-hero__video">
      <iframe width="100%" height="600px" src="https://www.youtube.com/embed/rf4uiO-T26o" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<nav class="c-nav">
  <ul>
    <li><a href="#">Ajakava</a></li>
    <li><a href="#">Turniirid</a></li>
    <li><a href="#">Funarea</a></li>
  </ul>
</nav>

<section class="c-wat">
  <div class="o-wrap">
    <div class="c-wat__cta">
      <p>10. NOVEMBER 2019 // APOLLO KINO SOLARIS</p>
      <p>Uksed avatakse 21:00 // Vanusepiirang 16+</p>
    </div>

    <div class="c-wat__body">
      <p>
        <strong>MängudeÖÖ</strong> on Eesti suurim videomängudele ja virtuaalsusele pühendatud üritustesari, mis toob
        külastajateni
        uusimad konsooli-, arvuti- ja mobiilimängud ning adrenaliinirohked võistlused suurtel kinoekraanidel.
        MängudeÖÖl pööratakse erilist tähelepanu ka neile, kes ei ole veel leidnud oma kohta mängumaailmas, pakkudes
        sõbralikku, avatud ja meelelahutuslikku võimalust tutvuda mängukultuuriga.
      </p>
    </div>

    <div class="c-wat__buttons">
      <a class="c-button" href="#" target="_blank">Osta Pilet</a>
      <a class="c-button" href="#" target="_blank">Facebook</a>
    </div>

  </div>
</section>

<div class="o-wrap o-wrap--wide">
  <figure class="c-poster">
    <img src="http://placehold.it/1920x900" alt="">
    <figcaption>MängudeÖÖ 2017 Sügis — Gert Nõgu</figcaption>
  </figure>
</div>

<div class="o-wrap">
  <section>
    <h2 class="c-header"><span>Turniirid</span></h2>
    <div class="c-section-body">
      <p>
        Õhtune klassikaline MängudeÖÖ toob tagasi selle videomängupeo meeleolu, mille poolest üritus juba pikalt tuntud
        on! Laheda õhtu käigus lükatakse käima turniirid mängudes Fortnite Battle Royale (soolo), FIFA 19, SoulCalibur
        6 ning hullumeelne heitlus klassikalises kivi-paber-käärides!
      </p>
    </div>

    <div class="c-media-block-list">

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Fortnite Battle Royale Soolo</h3>
            <p>„Mõtle, kui lahe oleks, kui keegi korraldaks ühe tuusa Fortnite Battle Royale turniiri“, mõtles kohalik
              mängukommuun. „Kuule, see pole üldse halb idee!“ Mõtles MängudeÖÖ korraldustiim. Nii otsustasimegi, et
              sügisel korraldame võistluse justnimelt selles mängus.</p>
            <p>Kui on keegi, kellele saab alati kindel olla, on selleks sina ise! ÖÖsel teeme selgeks, milline üksik
              hunt suudab kõige paremini külma närvi säilitada ning Victory Royale’i koju tuua!</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>FIFA 19 turniir</h3>
            <p>11 meest virtuaalsel väljakul, 1 mees puldi taga!</p>
            <p>MängudeÖÖ on juba pikalt olnud kohaks, kus kohalikud pallivõlurid teevad selgeks, et kes neist mängleva
              kerglusega Imbrahimovici kombel nahkkeraga käärlöögi abil võrku ahistavad ning kes peavad Suareze kombel
              kõigest tiimikaaslaseid järama.</p>
            <p>Nii ka seekord, sest FIFA 19 ootab uhiuut tšempionit!</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>SoulCalibur VI</h3>
            <p>Nõidur Geralt… ja siis kõik teised, klassikalisemad kaklusmängu SoulCalibur tegelased ootavad korralikku
              keretäit ning just sina oled see, kes seda teha võiks! </p>
            <p>Sügisese MängudeÖÖ kaklusmängusaalis pannakse keerlema just tolle värskelt ilmunud peksusimulaatori
              plaadid ning tehakse selgeks, kes on Maarjamaa osavaim mõõgavõitleja ning teravaima odaga madistaja.</p>
            <p>Tule ja päästa enda vastase hing, lüües ta virtuaalsed silmaalused siniseks ning just sind võidakse
              kroonida MängudeÖÖ esimeseks SoulCalibur VI tšempioniks!</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Kivi-paber-käärid turniir</h3>
            <p>Olgem ausad - MängudeÖÖl on neid videomänge vahel nii palju, et tahaks end hetkeks lõdvaks lasta. Puldi
              kahe käega hoidmine ja ekraani ees silmade pinges hoidmine ei ole ikkagi lihtne töö. Pole hullu, meil on
              lahendus!</p>
            <p>Tule meie videomänguvabasse saali, et võtta osa klassikalisest kivi-paber-käärid turniirist! Ei mingeid
              pulte, ei mingeid ekraane - ainult sina ja su käed!</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>MÖÖ mitmevõistlus</h3>
            <p>Hei, küberatleet…?</p>
            <p>Pane kokku kuni 5-liikmeline võistkond, tule ja pane enda oskused proovile ning just sinust ja su
              sõpradest võivadki saada MängudeÖÖ Mitmevõistluse esimesed tšempionid! Reeglid on lihtsad - meie viskame
              teile hambusse 5 erinevat saladuslikku videomängu ning teie peate saavutama neis võimalikult hea
              tulemuse. Selle põhjal jagame välja punkte ning ürituse lõpus liidame need kokku, et selgeks teha, kes on
              kõige osavam!
            </p>
            <p>Au ja kuulsus ootavad!</p>
            <a href="#" class="c-button c-button--small">Loe Reegleid & Registreeri</a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="o-wrap o-wrap--wide">
  <figure class="c-poster">
    <img src="http://placehold.it/1920x900" alt="">
    <figcaption>MängudeÖÖ 2017 Sügis — Gert Nõgu</figcaption>
  </figure>
</div>

<div class="o-wrap">
  <section>
    <h2 class="c-header"><span>Fun Area</span></h2>
    <div class="c-section-body">
      <p>
        Õhtune klassikaline MängudeÖÖ toob tagasi selle videomängupeo meeleolu, mille poolest üritus juba pikalt tuntud
        on! Laheda õhtu käigus lükatakse käima turniirid mängudes Fortnite Battle Royale (soolo), FIFA 19, SoulCalibur
        6 ning hullumeelne heitlus klassikalises kivi-paber-käärides!
      </p>
    </div>

    <div class="c-media-block-list">

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Loengusaal</h3>
            <p>Martin kirjutab…?</p>
          </div>
        </div>
      </div>

      <div class="c-media-block">
        <div class="c-media-block__figure">
          <img src="http://placehold.it/660x400" alt="">
        </div>
        <div class="c-media-block__body">
          <div class="c-body-text">
            <h3>Cosplay</h3>
            <p>Laena vanaemalt nõela ja niiti, ülekiirenda enda õmblusmasina mootor ning jäta kangapoodi alles vaid see
              kole riie, millest tädi endale kardinad tegi - MängudeÖÖ cosplay võistlus tuleb taas ning ootab, et ka
              Sina enda ägeda kostüümiga kohale tuleksid!</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>

<div class="o-wrap">
  <section class="c-partners">
    <h2 class="c-header"><span>Partnerid</span></h2>
    <img src="img/partners.png" alt="">
  </section>
</div>

{{> footer }}
