.c-button {
  border-radius: $border-radius;
  background-color: #2b0204;
  border: 1px solid $primary-red;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  display: inline-block;
  text-decoration: none;
  color: $primary-red;
  text-transform: uppercase;
  padding: 12px 60px;

  .moo-paev & {
    border-color: $primary-blue;
    background-color: rgba($primary-blue, 0.2);
    color: $primary-blue;
  }
}

.c-button--small {
  font-size: 13px;
  padding: 10px 20px;
}
